<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Respira aire fresco y vive una vida más saludable con nuestros productos eliminadores de olores!</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Unete a nosotros!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- No dejes que los olores arruinen tu negocio!! Consigue nuestros productos eliminadores de olores hoy mismo.! -->
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- Limpio, fresco y sin olores. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
