<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1><Gracias por conectar! Soy David y te voy a ayudar en el cambio</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Need help!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Vamooos! -->
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- Es el mejor producto -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
